@page "/"

<PageTitle>Todo List</PageTitle>

@if (_todoItems == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="border p-3">
        <h4>New Item</h4>
        <TodoItemForm OnItemAdded="@ItemsChanged" />
    </div>

    <div class="border p-3 mt-3">
        <div style="display: flex; flex-direction: column">
            @foreach (var todo in _todoItems)
            {
                <div style="display: flex; margin-bottom: 10px;">
                    <div style="display: flex; align-items: center;margin-bottom: 10px;">
                        <div class="@ItemClass(todo)" style="width: 280px;">@todo.Text</div>
                    </div>
                    @if (todo.Completed)
                    {
                        <div style="width: 120px">
                            <button class="btn btn-primary" onclick="@(() => UncompleteItem(todo))">Uncomplete</button>
                        </div>
                    }
                    @if (!todo.Completed)
                    {
                        <div style="width: 120px">
                            <button class="btn btn-primary" onclick="@(() => CompleteItem(todo))">Complete</button>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
}